PORT=4005
DATABASE_URL=postgresql://user:password@localhost:5432/order_db
JWT_ACCESS_SECRET=change-me-access-secret
INTERNAL_API_KEY=change-me-order-internal
CART_SERVICE_URL=http://localhost:4004
PRODUCT_SERVICE_URL=http://localhost:4003
PAYMENT_SERVICE_URL=http://localhost:4006
CART_INTERNAL_KEY=change-me-cart-internal
PRODUCT_INTERNAL_KEY=change-me-product-internal
PAYMENT_INTERNAL_KEY=change-me-payment-internal
NODE_ENV=development
